<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style-page-inscription.css">
    <title></title>
</head>
<body>
    <form action="/connexion" method="POST" class="formulaire" >
        <h3>Se connecter</h3>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" id="password">

        <button>Se connecter</button>
    </form>
</body>
</html>