<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Covoiturage</h1>
    <p>Inscrivez-vous!</p>

    <a href="/creer-compte">S'inscrire</a>
    <a href="/se-connecter">Se connecter</a>
</body>
</html>