<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style-index.css">
</head>
<body>

    <div class="page-container">
        <div class="header">
            Covoiturage - Acceuil
        </div>
        <div class="img-container">
            <img class="img2" src="https://www.protegez-vous.ca/var/protegez_vous/storage/images/_aliases/article_banner/6/8/0/7/5017086-1-fre-CA/covoiturage.jpg">
        </div>

        <div class="container">
            <h1>Covoiturage</h1>
            <p>Participer au covoiturage!</p>
    
            <a href="/creer-compte">S'inscrire</a>
            <a href="/se-connecter">Se connecter</a>
        </div>

        <div class="container2">
            <div class="element">
                <img class="logo" src="https://www.covoiturage.ca/images/icone/Pouce_Accueil.png" alt="Inscription">
                <h3>Inscription gratuite</h3>
                <p>Conducteurs et passagers ne paient pas de frais d'inscription ni d'abonnement</p>
            </div>
            <div class="element">
                <img class="logo" src="https://www.covoiturage.ca/images/icone/Pin_Accueil.png" alt="Location">
                <h3>Covoiturage interurbain</h3>
                <p>Publiez ou réservez un trajet pour le Québec.</p>
            </div>
            <div class="element">
                <img class="logo" src="https://www.covoiturage.ca/images/Passager.png" alt="Location">
                <h3>Partager la route</h3>
                <p>Trouvez des passagers pour partager la route en covoiturage</p>
            </div>
        </div>
        
        <div class="container">
            <h3>Comment fonctionne l'application</h3>
            <p>1.Créer un compte</p>
            <p>2.Créer un trajet si vous diposer d'un véhicule</p>
            <p>3.Rechercher des trajets</p>
            <p>4.Réserver un trajet</p>
            <p>5.Communiquer avec le conducteur et le passager</p>
        </div>

        <div class="container">
            <h3>Des covoitureurs satisfaits!</h3>
            <p>-Meilleure application de covoiturage! Je n'ai jamais était autant satisfait de ma vie!</p>
            <p>-Je recommande cette application!</p>
            <p>-Trajet très agreable avec conductrice sécuritaire expérience a renouvelé</p>
        </div>
        
        <div class="" style="text-align: center; display: wrap;">
            <h5>Covoiturage</h5>
            <h5>F.A.Q</h5>
            <h5>Nouveauté</h5>
        </div>
    </div>





  



</body>
</html>