body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #d1f5ee;
}

.formulaire{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid rgba(227, 255, 242, 0.9); 
    box-shadow: 0 2px 4px #1abc9c;
    margin-top: 150px;
}
.formulaire h3{
    font-size: 34px;
    font-weight: 800;
    text-align: center;
}
.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.formulaire label{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 3px;
}

.formulaire input{
    width: 100%;
    display: block;
    margin: auto;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 3px;
}

.mssg-erreur{
    display: none;
    width: 100px;
    height: auto;
    margin: auto;
    background-color: rgb(251, 138, 138);
    border-radius: 5px;
    color: white;
    position: fixed;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px;
    text-align: center;
}
.mssg-succe{
    display: none;
    width: 100px;
    height: auto;
    background-color: rgb(168, 255, 168);
    border-radius: 5px;
    color: white;
    position: fixed;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px;
    text-align: center;
}
.autre-info{
    text-align: center;
}

.formulaire button{
    background-color: rgb(100, 152, 248);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 26px;
    letter-spacing: 1px;
    cursor: pointer;
}

.a{
    background-color: rgb(100, 152, 248);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 26px;
    letter-spacing: 1px;
    cursor: pointer;
}
.group-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.group-btn button, .group-btn a {
    font-size: 13px;
    background-color: rgb(100, 152, 248);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none; 
    margin: 0; 
    display: inline-block; 
}

.group-btn a:hover {
    background-color: rgb(125, 194, 255); 
}